services:
  athena:
    build: .
    image: athena-mcp:local
    container_name: athena_mcp
    environment:
      - LITEGRAPH_ENDPOINT=http://litegraph:8701
      - LITEGRAPH_TENANT_GUID=00000000-0000-0000-0000-000000000000
      - LITEGRAPH_GRAPH_GUID=411e74de-0000-0000-0000-000000000000
      - LITEGRAPH_ACCESS_KEY=default
    volumes:
      - /Users/lorenzorastelli:/Users/lorenzorastelli
      - ./data/litegraph:/app/data
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - athena-net
    stdin_open: true # -i
    tty: true # -t

  litegraph:
    image: litegraph-local:latest
    container_name: litegraph_db
    ports:
      - "8701:8701"
    volumes:
      - ./data/litegraph-db/litegraph.db:/app/litegraph.db
      - ./data/litegraph-db/litegraph.json:/app/litegraph.json
    networks:
      - athena-net

  falkordb:
    image: falkordb/falkordb:edge
    container_name: falkordb
    ports:
      - "6379:6379"
      - "3000:3000"
    volumes:
      - ./data/falkordb:/data
    networks:
      - athena-net

networks:
  athena-net:
    driver: bridge
